*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background: black;
    width: 100%;
    text-align: center;
}
.head-name{
    padding-top: 10px;
    padding-left: 5px;
    font-size: 18px;
}

.head-name strong{
    color: cyan;
}
.head-name a{
    text-decoration: none;
    color: cyan;
}
#vehicles-links{
    display: flex;
    padding: 10px;
}
.motors{
    border: 2px solid black;
    width: 90px;
    text-align: center;
    margin: 7px;
    color: whitesmoke;
    
}
.active{
    background: blue;
    color: whitesmoke;
}
.motors:hover{
    background: blue;
    color: whitesmoke;
    cursor: pointer;
}
#toyo-vehicles,#honda-vehicles,#mazda-vehicles,#hijet-vehicles,
#daihstu-vehicles,#suzuki-vehicles, #nissan-vehicles{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}


@keyframes bgcolor{
    0%
    {
        background: rgb(22, 51, 131);
    }
    20%
    {
        background: rgb(17, 128, 76);
    }
    40%
    {
        background: darkblue;
    }
    60%
    {
        background: darkgreen;
    }
    80%
    {
        background: rgb(117, 0, 128);
    }
    100%
    {
        background: blue;
    }
}

.imgs{
    width: 250px;
    height: 190px;
    object-fit: cover;
}
.brand-vehicles{
    height: 250px;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    border: 2px solid blue;
    margin: 3px;
    border-radius: 7px;
}

.order{
    text-align: center;
    color: yellow;

}
.order-btn{
width: 130px;
height: 23px;
font-family: 'Times New Roman', Times, serif;
color: blue;
font-weight: bold;
text-align: center;
border: 2px solid blue;
border-radius: 7px;
cursor: pointer;
}
.order-btn:hover{
background: blue;
color: whitesmoke;
}
.aku{
    text-align: center;
    padding: 12px;
    padding-bottom: 8px;
}
.aku-btn{
    width: 250px;
    height: 35px;
    font-size: 22px;
    color: whitesmoke;
    border-radius: 10px;
    border: 2px solid purple;
    animation: bgcolor infinite 20s;
}
#val{
    padding-top: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 17px;
    padding: 4px;
}
span{
    font-size: 16px;
    padding-top: 7px;
   
}
#more-div{
    
    text-align: center;
    margin: 2px;
}
.more-btn{
    width: 60%;
    height: 39px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background: rgba(37, 37, 221, 0.89);
}
.more-btn:hover{
    color: white;
    background: rgb(100, 100, 240);
}
.srch-bd{
    padding-left: 8%;
    font-size: 16px;
    font-weight: bold;
}
#dsk{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding-top: 8px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}
#bd-sec{
    display: none;
    width: 100%;
    overflow-x: scroll;
    padding-top: 8px;
    padding-left: 5%;
    padding-right: 5%;
}
.bd-logo{
    height: 50px;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    margin: 3px;
    border-radius: 7px;
    border: 2px solid black;
}
.imgsb{
    width: 60px;
    height: 50px;
    object-fit: cover;
    text-align: center;
}
@media (max-width:500px){
    *{
        margin: 0;
        padding: 0;
    }

    body{
        padding: 0;
        margin: 0;
    }

    .head-name{
        padding-top: 10px;
        padding-left: 5px;
        font-size: 12px;
    }
    #vehicles-links{
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    width: 100%;
    padding-left: 3px;
}
    .motors{
    border: 2px solid black;
    width: 50px;
    text-align: center;
    margin: 2px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: whitesmoke;
   
}
.active{
    background: blue;
    color: whitesmoke;
}
#toyo-vehicles,#honda-vehicles,#nissan-vehicles, #mazda-vehicles,
#daihstu-vehicles,#suzuki-vehicles{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.brand-vehicles{
    height: 110px;
    justify-content: center;
    text-align: center;
    border: 2px solid blue;
    margin: 3px;
    border-radius: 7px;
}



.aku{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    margin: 0;
}

#val{
    padding-top: 7px;
    font-size: 19px;
    font-family: sans-serif;
}
hr{
    padding: 0;
    margin: 0;
    width: 100%;
    font-weight: bold;
}
p{
    font-size: 11px;
    font-weight: 400;
    padding: 3px;
}
#btn-div{
    padding: 9px;
}

.aku-btn{
    width: 120px;
    height: 28px;
    font-size: 16px;
    color: whitesmoke;
    border-radius: 5px;
    border: 2px solid purple;
    border-radius: 5px;
    
}
span{
    font-size: 10px;
    text-align: right;
}
#more-div{
    
    text-align: center;
    margin: 2px;
}
.more-btn{
    width: 90%;
    height: 32px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background: rgba(37, 37, 221, 0.89);
}
.more-btn:hover{
    color: white;
    background: rgb(100, 100, 240);
}
.srch-bd{
    padding-left: 8%;
    font-size: 13px;
    font-weight: bold;
}
#dsk{
    display: none; 
}
#bd-sec{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding-top: 8px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}
.bd-logo{
    height: 50px;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    margin: 3px;
    border-radius: 7px;
    border: 2px solid black;
}
.imgsb{
    width: 60px;
    height: 50px;
    object-fit: cover;
    text-align: center;
}

#hijet-vehicles{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.imgs{
    width: 90px;
    height: 80px;
    object-fit: cover;
}
.order-btn{
    width: 65px;
    height: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 2px solid blue;
    border-radius: 7px;
    cursor: pointer;
    }
}