*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background: rgb(4, 4, 26);
    color: whitesmoke;
    padding: 5px;
}
.navbar{
    display: flex;
}
.head-name{
    color: blue;
    padding-top: 2px;
    padding-left: 5px;
}
.head-name strong{
    color: lime;
}
.head-name a{
    text-decoration: none;
    color: blue;
}
.user-div{
    padding-left: 60%;
}


form{
    color: blue;
    display: flex;
    width: 100%;
    padding: 0;
    border: 3px solid blue;
    border-radius: 5px;
    outline: none;
}
input{width: 90%;}
input[type="search"] {
    border: none;
    background: whitesmoke;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: none;
    border-radius: 0;
}
input[type="search"]::placeholder {
    color: white;
}
button[type="submit"] {
    width: 50px;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    background: lime;
    color: darkblue;
    font-size: 12px;
    font-weight: bold
}
.sign{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.carty{
    margin: 7px;
}
.fas{
    color: whitesmoke;
}
.srch-div{
    padding-top: 5px;
    text-align: center;
}

.send-srch{
    width: 11%;
    height: 22px;
    color: blue;
    border: none;
    border-radius: 5px
}
.brands-sec{
    padding-top: 14px;
    padding-bottom: 0;
}
.item-logos{
    width: 100%;
    display: flex;
    list-style: none;
}

.item-logos a{
    text-decoration: none;
    color: whitesmoke;
    padding-left: 16px;
}
li{
    margin: 10px;
    margin-left: 0;
    margin-top: 0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
}
li:hover{
    color: orangered;
}
.descri-div{
    background: rgba(13, 13, 46, 0.877);
    
}
.dsc-p{
    color: whitesmoke;
    font-size: 15px;
    font-family: arial;
    font-weight: 600;
    padding: 7px;
}
.ship-div{
    height: 200px;
    width: 100%;
    background: rgba(13, 13, 46, 0.877);
    background-size: 50%;
    background-image: url(back-g/img-4.jpg);
    object-fit: cover;
    background-position: left;
    
}

#result-div{
    display: none;
    padding-top: 13px;
    text-align: center;
    background: darkblue;
    height: 65px;
    color: whitesmoke;
    font-family: arial;
}
#result-div strong  {
    color: rgb(111, 245, 231);
}
#result-div a {
    color: yellow;
    font-weight: bold;
    margin-bottom: 5px;

}
#result-div  a:hover{
    color: whitesmoke;
}
.ship-dsc{
    background:rgba(13, 13, 46, 0.877) ;
    color: whitesmoke;
    font-size: 16px;
    font-family: arial;
    font-weight: 600;
    padding: 7px;
}
.advert-cnt{
    display: flex;
    margin: 5px;
    overflow-x: scroll;
    justify-content: center;
}
#advt-div{
    background: rgba(243, 241, 237, 0.938);
    width: 190px;
    height: 220px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid blue;
    color: blue;
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
}

.imgs{
    width: 190px;
    height: 150px;
    object-fit: cover;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}
#checks{
    padding-left: 5px;
    font-size: 12px;
    color: blue;
    text-decoration: navy;
    font-family: times;
}
.order-cnt{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 15px;
    color: black;
    font-family: arial;
    text-align: left;
    height: 100px;
    justify-content: center;
    border-top: 2px solid rgb(214, 208, 208);
    border-bottom: 2px solid rgb(214, 208, 208);
}
.order-div{
    text-align: center;
    margin: 10px;
}
.order-btn{
    width: 150px;
    height: 27px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-weight: bold;
    border: 2px solid blue;
    border-radius: 7px;
    cursor: pointer;
}
.order-btn:hover{
    background: blue;
    color: whitesmoke;
}
#partner-acc{
    color: black;
    text-decoration: none;
    font-size: 11px;
    font-family:sans-serif;
    font-weight: bold;
}
#partner-acc:hover{
    color: orangered;
}
.popular-div{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 15px;
    color: black;
    font-family: arial;
    text-align: left;
    height: 100%;
    justify-content: center;
    
    
}
.popular-model{
    display: flex;
    padding-top: 5px;
    padding-left: 20px;
    font-family:  Times, 'Times New Roman', serif;
}
.imgs-md{
    width: 190px;
    height: 130px;
    object-fit: cover;
    border: 1px solid blue;
    border-radius: 7px;
}
#span-mds{
    padding-left: 12px;
    font-family: arial;
    color: rgb(255, 0, 98);
}
#span-mds strong{
    color:blue;
}
#span-mds b{
    font-weight: bold;
}

.md-nms{
    color: purple;
}
.md-btn{
    width: 120px;
    height: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    background: rgb(91, 91, 236);
    font-weight: bold;
    font-family: arial;
    border: 2px solid blue;
    border-radius: 7px;
    cursor: pointer;
}
.md-btn:hover{
    background: whitesmoke;
    color: blue;
}
footer{
    width: 100%;
    bottom: 0;
    background: black;
    color: whitesmoke;
}
.footer-items{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}
.footer-items a{
    text-decoration: none;
    color: whitesmoke;
    margin: 5px;
    padding-top: 5px;
}
.media-link{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}
.media-link a{
    text-decoration: none;
    color: whitesmoke;
    margin: 20px;
    padding-bottom: 7px;
}
.fab{
    color: rgb(39, 39, 226);
}
.fa-whatsapp{
    color: rgb(8, 248, 8);
}
.fa-twitter{
    color: rgb(23, 235, 213);
}
.fa-instagram{
    color: rgb(166, 97, 235);
}
@media (max-width:800px){
    .user-div{
        padding-left: 20%;
    }
    form{
        display: flex;
        width: 93%;
        height: 20px;
        padding: 0;
        border: 2px solid blue;
        border-radius: 5px;
    }
    input{width: 74%;}
    input[type="search"] {
        border: none;
        background: whitesmoke;
        margin: 0;
        padding: 7px 8px;
        font-size: 14px;
        color: inherit;
        border: none;
        border-radius: 0;
        outline: none;
    }
    input[type="search"]::placeholder {
        color: white;
    }
    button[type="submit"] {
        width: 26%;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        cursor: pointer;
        opacity: 0.7;
        background: lime;
        color: darkblue;
        font-size: 12px;
        font-weight: bold;
    }
    
}
@media (max-width:500px){
    nav{
        background: rgb(4, 4, 26);
        color: whitesmoke;
        padding: 5px;
    }
    .navbar{
        display: flex;
    }
    .head-name{
        color: blue;
        padding-top: 2px;
        padding-left: 0;
        font-size: 19px;
    }
    .head-name strong{
        color: lime;
    }
    .user-div{
        padding-top: 2px;
        padding-left: 18px;
    }
    .sign{
        font-family: sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
    .carty{
        margin: 7px;
    }
    .fas{
        color: whitesmoke;
    }
    .srch-div{
        padding-top: 3px;
        text-align: left;
    }
  
    .send-srch{
        width: 22%;
        height: 19px;
        color: black;
        border: none;
        border-radius: 5px
    }


form{
    display: flex;
    width: 93%;
    height: 20px;
    padding: 0;
    border: 2px solid blue;
    border-radius: 5px;
}
input{width: 74%;}
input[type="search"] {
    border: none;
    background: whitesmoke;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: none;
    border-radius: 0;
    outline: none;
}
input[type="search"]::placeholder {
    color: white;
}
button[type="submit"] {
    width: 26%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    opacity: 0.7;
    background: lime;
    color: darkblue;
    font-size: 12px;
    font-weight: bold;
}

    .brands-sec{
        padding-top: 9px;
        padding-bottom: 0;
    }
    .item-logos{
        width: 100%;
        display: flex;
        list-style: none;
        overflow-x: scroll;
        justify-content: left;
    }
    .item-logos a{
        text-decoration: none;
        color: whitesmoke;
    }
    li{
        margin: 14px;
        margin-left: 0;
        margin-top: 0;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 11px;
    }
    .descri-div{
        background: rgba(13, 13, 46, 0.877);
        
    }
    .dsc-p{
        color: whitesmoke;
        font-size: 13px;
        font-family: arial;
        font-weight: 600;
        padding: 7px;
    }
    .ship-div{
        background-image: url(back-g/img-1.jpg);
        object-fit: cover;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .ship-dsc{
        background:rgba(13, 13, 46, 0.877) ;
        color: whitesmoke;
        font-size: 12px;
        font-family: arial;
        font-weight: 600;
        padding: 7px;
    }
    .advert-cnt{
        display: flex;
        margin: 5px;
        overflow-x: scroll;
        justify-content: left;
    }
    #advt-div{
        background: rgba(243, 241, 237, 0.938);
        width: 140px;
        height: 190px;
        border-radius: 10px;
        margin: 5px;
        border: 1px solid blue;
        color: black;
        text-align: center;
    }
    .mds{
        color: black;
        font-size: 13px;
        padding-left: 10px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        font-family: arial;
    }
    .imgs{
        width: 140px;
        height: 130px;
        object-fit: cover;
        border-bottom: 1px solid blue;
    }
    #checks{
        padding-left: 5px;
        font-size: 12px;
        color: black;
        text-decoration: navy;
        font-family: times;
    }
    .popular-model{
        display: flex;
        padding-top: 5px;
        padding-left: 0;
        background: rgba(243, 241, 237, 0.938);
        border-bottom: 1px solid rgb(211, 186, 186);
    }
  
    .media-link{
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: left;
        padding-left: 1px;
    }
    #mail{
        font-size: 12px;
        padding-left: 0;
    }
}